$grey: rgb(60, 64, 67);
$borderResizerColor: #ba9374;
$resizerBackgroundColor: #dab69c;

.resizable {
  $root: &;

  background: #ecc08b;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 6px;
  min-width: 150px;
  min-height: 150px;
  z-index: 10;
  box-shadow: rgba($grey, .3) 0 1px 2px 0, rgba($grey, .15) 0 2px 6px 2px;

  &:hover {
    #{$root}__resizer {
      display: block;
    }
  }

  &__resizer {
    position: absolute;
    background: $resizerBackgroundColor;
    border: 1px solid $borderResizerColor;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;

    &.right {
      cursor: col-resize;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.top {
      cursor: row-resize;
      left: 50%;
      top: -7px;
      transform: translateX(-50%);
    }

    &.bottom {
      cursor: row-resize;
      left: 50%;
      bottom: -7px;
      transform: translateX(-50%);
    }

    &.left {
      cursor: col-resize;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
}
